body{
  padding-top: 90px;
}
// 搜索头部
.search_header{
  height: 45px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: salmon;
}
// 排序部分
.sort_bar{
  height: 45px;
  width: 100%;
  position: fixed;
  top: 45px;
  left: 0;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  a{
    flex: 1;
    text-align: center;
    font-size: 16px;
  }
}
// 商品部分
.pyg_view{
  padding: 0 5px;
  overflow: hidden;
  position: relative;
  ul{
    li{
      margin-top: 5px;
      background-color: #fff;
      a{
        display: flex;
        font-size: 14px;
        .item_left{
          flex: 1;
          img{
            width: 70%;
            margin: 0 auto;
          }
        }
        .item_right{
          flex: 2;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .goods_name{
            color: #8f8f94;
            overflow: hidden;
            // 不换行
            white-space: nowrap;
            // 超出省略
            text-overflow: ellipsis;
          }
          .goods_price{
            color: red;
          }
        }
      }
    }
  }
}